<ion-view title="Page" hide-nav-bar="true" id="page1" style="background-color:#CFD8E7;">
    <ion-content padding="true" class=" manual-remove-top-padding">
        <div class="spacer" style="width: 320px; height: 63px;"></div>
        <div>
            <img src="img/OSUOufRDQkaHpETs2l0y_flight copy.png" width="200" height="200" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="page-heading1" style="color:#000000;font-weight:600;text-align:center;">Flight Status</h1>
        <div class="spacer" style="width: 320px; height: 9px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">To</span>
                <input type="text" placeholder="" name="username" class="form-control" ng-model="login.loginData.username">
            </label>
            <div class="spacer" style="width: 320px; height: 13px;"></div>
            <label class="item item-input">
                <span class="input-label">From</span>
                <input type="text" placeholder="" nname="username" class="form-control" ng-model="login.loginData.username">
            </label>
        </form>
        <div class="spacer" style="width: 320px; height: 0px;"></div>
        <a type="submit" ui-sref="result" id="page-button2" style="color:#30495C;" class="button button-balanced  button-block">Go!</a>
    </ion-content>
</ion-view>